.venv
D:\hundred_days_of_code_reset\dat31-flash-card-project\data\sample_french_words.csv
D:\hundred_days_of_code_reset\dat31-flash-card-project\data\words_to_learn.csv
D:\hundred_days_of_code_reset\dat31-flash-card-project\scratch.py